/*Обнуление*/
/**{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}*/
/*--------------------*/


* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: #5e5e5e;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

.header {
    font-family: 'Roboto', sans-serif;
}

/*.header__top .container a {*/
/*    color: #FFFFFF;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/


.header__top {
    background-color: #303030;

}

.header__button {
    float: right;
    /*height: 45px;*/
    /*width: 262px;*/
    /*text-align: right;*/
    /*vertical-align: middle;*/
    /*padding-right: 21px;*/
    /*padding-top: 13px;*/
    background-color: #ffc222;
    font-size: 16px;
    display: block;
    padding: 5px 20px 4px 50px;
    line-height: 36px;
    color: #1b1b1b;
    position: relative;
}

.header__button::before {
    font-family: 'icomoon', sans-serif;
    content: "\f0b1";
    position: absolute;
    left: 20px;
    color: #1b1b1b;
}

#modal {
    display: none;
}

.header__contact:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone, .header__email {
    color: #cbcacb;
    font-size: 14px;
    letter-spacing: 0.25pt;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding: 0 35px 0 20px;
}

.header__phone::before {
    font-family: 'icomoon', sans-serif;
    content: "\f095";
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email::before {
    font-family: 'icomoon', sans-serif;
    content: "\f0e0";
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__content {
    padding: 34px 0 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 0 16px;
    display: inline-block;
}

.menu a:hover {
    border-color: #ffc222;
    transition: all 800ms ease;
}

.menu li + li {
    padding-left: 10px;
}

.slider {
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content {
    text-align: center;
    padding-top: 129px;
    max-width: 654px;
    min-height: 500px;
    margin: 0 auto;

}

.slider__item {
    outline: none;
}

.slider__title {
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
    letter-spacing: 0.5pt;
}

.slider__text {
    color: #d3d2d2;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0 50px;
}

.slider__btn {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.35pt;
    border: solid 2px #ffc222;
    padding: 12px 20px 12px 20px;
    outline: none;
    color: #FFFFFF;
    position: relative;
}

.slider__btn:hover {
    border-right-width: 22px;
    transition: all 400ms ease;
}

.slider__btn:hover::after {
    position: absolute;
    content: "\f105";
    font-family: icomoon, sans-serif;
    right: -13px;
}

.slider__inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    height: 40px;
    width: 40px;
    border: 1px solid #FFFFFF;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.slick-btn.slick-disabled {
    cursor: no-drop;

}

.slick-btn.slick-disabled:hover {
    background: transparent;
}

.slick-btn:hover {
    background-color: #ffc222;
}

.slick-btn::before {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    font-family: icomoon, sans-serif;
    /*transform: translate(-50%, -50%);*/
}

.slick-btn:hover::before {
    color: #1b1b1b;
}

.slick-next::before {
    content: "\f105";
    color: #FFFFFF;
}

.slick-prev::before {
    content: "\f104";
    color: #FFFFFF;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;

}

.services {
    padding: 60px 0 33px;
}

.services__top {
    display: flex;
    justify-content: space-between;
}

.services__title-box, .form__title-box {
    max-width: 520px;
    padding: 0 0 65px 140px;
    position: relative;
}

.services__title-box:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 105px;
    background-color: #ffc222;
    left: 0;
    top: 10px;
}

.services__title, .form__title {
    color: #212020;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 14px;
}

.services__text, .form__text {
    letter-spacing: .14pt;
}

.services__btn {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .35pt;
    color: #373636;
    border: 3px solid #e6e6e6;
    padding: 5px 38px;
    display: block;
}

.services__items {
    display: flex;
    justify-content: space-between;
}

.services__item {
    min-height: 375px;
    max-width: 360px;
    text-align: center;
    padding: 30px 0 40px;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
    position: relative;
}

.services__item-title {
    padding: 24px 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #5e5e5e;
}

.services__item-text {
    letter-spacing: .1pt;
    padding: 0 30px 30px;
}

.services__item-btn {
    bottom: 40px;
    position: absolute;
    left: 0;
    right: 0;

}

.services__item-btn .slider__btn {
    color: #373636;
    max-height: 40px;
    padding: 10px 34px 10px 28px;
}

.slider__btn:hover {
    margin-left: -21px;
}

.services__item-btn .slider__btn::after {
    color: #FFFFFF;
}

.services__link {
    color: #050505;
    border-bottom: 1px solid #050505;
    font-family: Roboto, sans-serif;
    margin-right: 60px;
}

.about {
    background-image: url(../img/about-bg.jpg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 0 45px;
}

.about__items {
    padding-left: 15px;
    max-width: 630px;
}

.about__item-title {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 20px;
    position: relative;
}

.about__item-text {
    color: #d3d2d2;
    line-height: 24px;
    letter-spacing: .1pt;
    max-width: 620px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.about__item-btn .slider__btn {
    padding: 10px 29px 10px 27px;


}

.about__item-btn {
    position: absolute;
    /*padding-bottom: 47px;*/
}

.about__item-btn .slider__btn:hover {
    margin-left: 0;
}

.about__item-btn .form__btn .slider__btn::after {
    color: #272727;
}

.form__title-box:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 105px;
    background-color: #ffc222;
    left: 0;
    top: 46px;
}

.form__title-box {
    max-width: 520px;
    padding: 35px 0 30px 140px;
}

.form__inners {
    background-image: url("../img/form-bg.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 520px;
}

.form__box-inner {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
}

.form__box-left {
    max-width: 265px;
    width: 100%;
}

.form__box-right {
    max-width: 555px;
    width: 100%;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner select,
.form__box-inner textarea {
    display: block;
    width: 100%;
    outline: none;
}

label {
    color: #282828;
    font-family: Roboto, sans-serif;
    line-height: 36px;
    padding-top: 5px;
}

input, textarea, select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

textarea {
    min-height: 201px;
}

.form__btn {
    background-color: transparent;
    color: #272727;
    max-width: 210px;
    padding: 0;
    float: right;
    margin-top: 42px;
    letter-spacing: .3pt;
}

